* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1,
section h2,
section h3,
form button {
    font-family: "Bungee", cursive;
    font-weight: normal;
}

body,
input,
textarea {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 16px 0;
    background-color: #15520e;
    color: #ecf0f1;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s;
}

header nav li a:hover {
    color: #c2c2c2;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    flex-wrap: wrap;
    align-items: flex-start;
}

section {
    padding: 24px 16px;
}

section h2 {
    padding: 8px 0;
    width: 100%;
}

section {
    color: #182c61;
}

.store-front {
    margin-right: 8px;
    max-width: 100%;
    height: auto;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact {
    flex: 1; /* Permite que a seção de contato cresça e preencha o espaço disponível */
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.contact-methods > div {
    flex: 1;
    min-width: 280px;
    margin: 16px 8px;
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    max-width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 16px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #3d61c5;
}

input:focus,
textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    text-align: center;
    padding: 16px 0;
}

footer p {
    margin: 0;
}

section p {
    margin-bottom: 16px;
}

img.store-front {
    flex: 1;
    max-width: 45%;
    height: auto;
    margin-bottom: 16px;
}

section div {
    flex: 1;
    max-width: 50%;
}

#Duvidas .container {
    flex-direction: row-reverse;
}

@media (max-width: 768px) /*resposividade*/{
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .store-front {
        margin-right: 0;
        margin-bottom: 16px;
        max-width: 100%;
    }

    section div {
        max-width: 100%;
    }

    header .container,
    section .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav li {
        display: block;
        margin: 8px 0;
    }

    .contact-methods {
        flex-direction: column;
    }

    .contact-methods > div {
        max-width: 100%;
    }

    form input,
    form textarea,
    form button {
        max-width: 100%;
    }

    #Duvidas .container {
        flex-direction: column;
    }
}

